/*********** PAGE STRUCTURE ***************/
body {
    background-image: url("/images/starry-night-sky.jpg");
    background-size: cover;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    /*display: flex;*/
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    /*display: flex;*/
    height: 20em;
    width: 18em;
}

.hidden
{
    display: none;
}


.movie-poster
{
    display: flex;
    margin:auto;
    align-content: center;
    width: auto;
    max-width: 18em;
}




.button
{
    display: flex;
    justify-content: center;
    margin: auto 0;

    height: 2em;
}



/****** TITLE TEXT ******/
.dotgothic
{
    font-family: 'DotGothic16', sans-serif;
    font-size: 2em;
    padding: 1em;

}

/****** OTHER TEXT ******/
.dotgothic2
{
    font-family: 'DotGothic16', sans-serif;
    font-size: 1em;
    font-weight: bold;
}

input[type=button]
{
    display: flex;
    justify-content: end;
    font-family: 'Metamorphous', cursive;
    font-weight: bold;
    font-size: 2em;
    background-color: beige;
    border-radius: 25px;
    color: #a82c3a;
    border: none;
}

.input-movie
{
    font-family: 'DotGothic16', sans-serif;

    padding: .25em;

    border-radius: 10px;
}

.search-btn {
    background-color: beige;
    opacity: 80%;
}

.myCarousel
{
    width: 35em;
    height: auto;
    background-color: beige;
    opacity: 80%;
    border-radius: 25px;
    padding-bottom: 2em;

    margin: 0 2em 5em 2em;

}

.update-movie{
    padding-left: 7em;
    padding-top: 4em;

}

.btn-listeners {
    font-family: 'DotGothic16', sans-serif;
    background-color: black;
    color: white;
    border: 3px solid white;
    height: 3em;
    width: auto;
}


/****** ID'S ***********/

#add-a-movie
{
    display: flex;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: -.25em;

    font-family: 'DotGothic16', sans-serif;
    font-size: 2em;

}

#movie {
    display: flex;
    margin: 1em 0;

}

#header-text
{
    font-size: 3.5em;
    font-family: 'Bungee Shade', cursive;
    color: beige;
}

#navbar
{
    border-bottom: dashed 4px #e0d9ca;
}


#movie-search {
    opacity: 80%;
    font-family: 'DotGothic16', sans-serif;
    padding: .25em;

    /**** top-left, top-right, bottom-right, bottom-left ******/
    border-radius: 8px 0 0 8px;

}



/***** LOADING... *******/
/***** FROM https://alvarotrigo.com/blog/css-text-animations/ *************/
.waviy {
    position: relative;
    font-size: 2.25em;
    font-family: 'DotGothic16', sans-serif;
    margin: 7em 3em;
}
.waviy span {
    /*font-family: 'Alfa Slab One', cursive;*/
    position: relative;
    display: inline-block;
    color: black;
    text-transform: uppercase;
    animation: waviy 2s infinite;
    animation-delay: calc(.1s * var(--i));

}
@keyframes waviy {
    0%, 40%, 100% {
        transform: translateY(0)
    }
    20% {
        transform: translateY(-10px)
    }
}

