/*********** PAGE STRUCTURE ***************/
body {
    background-image: url("/images/starry-night-sky.jpg");
    background-size: cover;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    /*display: flex;*/
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    /*display: flex;*/
    height: 20em;
    width: 18em;
}

.hidden
{
    display: none;
}


.movie-poster
{
    display: flex;
    margin:auto;
    align-content: center;
    width: auto;
    max-width: 15em;
}


.button
{
    display: flex;
    justify-content: center;
    margin: auto 0;

    height: 2em;
}

.dotgothic
{
    font-family: 'DotGothic16', sans-serif;
    font-size: 2em;
}
.dotgothic2
{
    font-family: 'DotGothic16', sans-serif;
    font-size: 1em;
    font-weight: bold;
}

input[type=button]
{
    display: flex;
    justify-content: end;
    font-family: 'Metamorphous', cursive;
    font-weight: bold;
    font-size: 2em;
    background-color: beige;
    border-radius: 25px;
    color: #a82c3a;
    border: none;
}



/****** ID'S ***********/
#movie {
    display: flex;
    margin: 1em 0;

}

.myCarousel
{
    width: 30%;
    height: auto;
    background-color: beige;
    opacity: 80%;
    border-radius: 25px;
    padding-bottom: 2em;
}


#header-text
{
    font-size: 3.5em;
    font-family: 'Bungee Shade', cursive;
    color: beige;
}

#navbar
{
    border-bottom: dashed 4px #e0d9ca;
}

.update-movie{
    padding-left: 7em;
    padding-top: 4em;

}

.btn-listeners {
    font-family: 'DotGothic16', sans-serif;
    background-color: black;
    color: white;
    border: 3px solid white;
    height: 3em;
    width: auto;
}

#movie-search {
    opacity: 80%;
}
.search-btn {
    background-color: beige;
    opacity: 80%;
}